body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(../images/yellow-train.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

th {
    border-bottom: 1px solid black;
    text-align: left;
}

.cardSubHeaders {
    padding: 10px;
    background-color: #292b2c;
    color: #ffffff;
}

.card-title {
    margin-bottom: 0px;
    padding: 0px;
}

.crdBody {
    margin-bottom: 0px;
    padding: 10px;
}

.mainHeader {
    text-align: center;
    background-image: url(../images/train-tracks.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

#currentCard {
    margin-bottom: 25px;
}